<h1>post</h1>
<h2><%= @profile.user.username %></h2>

<form class="" action="/create-post" method="post">
  <textarea name="content" rows="8" cols="30" maxlength="150"></textarea>
  <button type="submit" name="button">post</button>
</form>

<ul>
  <% @posts.reverse.each do |post| %>
  <li> Time: <%= post.date %> </li>
  <li> Post: <%= post.content %> </li>

  <a href="/edituserpost/<%=post.id%>">edit post</a>
  <a href="/delete-post/<%=post.id%>">delete</a>

  <% end %>
</ul>
