<h1>Profile</h1>
<h2><%= @profile.user.username %></h2>

<%= @profile.state %>
<br>
<%= @profile.country %>


<ul>
  <% @posts.reverse.each do |post| %>
  <li> Time: <%= post.date %> </li>
  <li> Post: <%= post.content %> </li>
  <% end %>
</ul>
