<h1>Profile</h1>
<h2><%= @profile.user.username %></h2>

<div class="local">
  <%= @profile.state %>
  <%= @profile.country %>
</div>

<% @posts.reverse.each do |post| %>
  <div class="profileposts">
    <div class="postpagedate"> <%= post.date %> </div>
    <div class="feedcontent"> <%= post.content %> </div>
  </div>
  <br>
<% end %>
