<h1>Profile</h1>
<%= @profile.state %>
<br>
<%= @profile.country %>


<ul>
  <% @posts.reverse.each do |post| %>
  <li> Time: <%= post.date %> </li>
  <li> Post: <%= post.content %> </li>
  <li><%= post.id %></li>
  <a href="/delete-post/<%=post.id%>">delete</a>
  <% end %>
</ul>
