<h1>Profile</h1>
<h2><%= @profile.user.username %></h2>

<div class="local">
  <%= @profile.state %>
  <%= @profile.country %>
</div>


<div class="profileposts">
  <% @posts.reverse.each do |post| %>
  <div> <%= post.date %> </div>
  <div> <%= post.content %> </div>
  <% end %>
</div>
